/*Creado con Ardora - www.webardora.net
bajo licencia Attribution-NonCommercial-NoDerivatives 4.0 International (CC BY-NC-ND 4.0)
para otros usos contacte con el autor*/
.ui-corner-all{ -webkit-border-radius: 0px; border-radius: 0px;}
body{background-color:black;}
#ardoraMain{ font-family:Century Gothic, sans-serif; color: #F0F0F0; padding: 5px; position: relative;margin-top: 200px;}
#ardoraEnu{ font-size: 16px; position: relative; padding: 5px; margin-bottom: 10px;
text-align: center;
}
#ardoraAlumSCORM{visibility: hidden;padding:0px;margin:0px;position: absolute;height: 15px;width: 250px;bottom: 0px;right: 0px;cursor: pointer;border-style: dotted;
border-width: 1px;-webkit-border-radius: 0px;-khtml-border-radius: 0px;border-radius: 0px;
-webkit-box-shadow: 4px 4px 4px rgba(50, 50, 50, 0.5);box-shadow: 4px 4px 4px rgba(50, 50, 50, 0.5);font-size: 10px;
background:rgba(255,128,0,0.5);}
#ardoraAlumSCORM p{padding:0px;margin:0px;padding-left: 2px;}
#buttonOk{ position: absolute; height: 70px; width: 70px; bottom: 0px; cursor: pointer;border-style: solid; border-width: 1px;
-webkit-border-radius: 0px;-khtml-border-radius: 0px;border-radius: 0px;
-webkit-box-shadow: 4px 4px 4px rgba(50, 50, 50, 0.5); box-shadow: 4px 4px 4px rgba(50, 50, 50, 0.5);}
#ardoraTabCanvas{width: 70px;border-style: solid;border-width: 1px;-webkit-border-radius: 0px;-khtml-border-radius: 0px;border-radius:0px;-webkit-box-shadow: 4px 4px 4px rgba(50, 50, 50, 0.5);box-shadow: 4px 4px 4px rgba(50,50,50,0.5);height:235px;} 
#ardoraActCanvas{z-index: 0; position: absolute; visibility:hidden;top:0; left:5px;}
#ardoraAct{position: relative; margin-right: 10px; padding: 5px; float: left; margin-top: 10px;margin-left: 310px; 
}
.imaLeft{margin-right:5px; margin-bottom:5px;} .imaRight{margin-left:5px; margin-bottom:5px;}#playSound{cursor: pointer;}
#ardoraQuest{font-size: 16px; text-align: justify; padding: 0 5px 0 5px;}
#ardoraActSort{background-repeat: no-repeat; background-position: center;} #ardoraImage{width: 100%; text-align: center;}
.bGame{list-style-type: none;font-size:14px;width:550px;height:auto;border-style:solid;text-align:center;cursor:pointer;
-webkit-border-radius:0px;-khtml-border-radius:0px;border-radius:0px;
-webkit-box-shadow:inset 4px 4px 4px rgba(50, 50, 50, 0.5);box-shadow:inset 4px 4px 4px rgba(50, 50, 50, 0.5);
border-width:1px; float:left;margin-left: 2px;text-align: justify;margin-top: 2px;}
ul{list-style: none;float: left;list-style-type: none;padding: 0; position: relative; left: 50%;}li{float: left;position: relative; right: 50%;}
.bGame p{padding: 5px; margin:4px 0 0 0;}
#ardoraTab{width: 70px; height:320px;position: relative; visibility: visible;padding:5px;float:left;}
#ardoraAutor{padding-left:5px; clear:both; font-size: 14px; border-top:thin; border-top-style:solid;}
