body{
font-family:Century Gothic, sans-serif; font-size:12px;
   text-align:justify;
background-color:#FFFFFF;
}
.booklet {width:800px; height:700px; position:relative; margin-top:180px; overflow:visible !important;}
.booklet .b-page {left:0; top:5px; position:absolute; overflow:hidden; padding:0;}
.booklet .b-pN  {}
.booklet .b-p0  {}
.booklet .b-p1  {}
.booklet .b-p2  {}
.booklet .b-p3  {}
.booklet .b-p4  {}
.booklet .b-wrap       {top:0; position:absolute;}
.booklet .b-wrap-left  {
background-color:#008080;
background-image:url("../ima/3509153-striped-notebook-with-solid-white-paper-in-it-lined-sheets-.jpg");
background-position:center;
background-repeat:repeat;
}
.booklet .b-wrap-right {
background-color:#008080;
background-image:url("../ima/3509153-striped-notebook-with-solid-white-paper-in-it-lined-sheets-.jpg");
background-position:center;
background-repeat:repeat;
}
.booklet .b-pN .b-wrap,
.booklet .b-p1 .b-wrap,
.booklet .b-p2 .b-wrap,
.booklet .b-p3 .b-wrap,
.booklet .b-p4 .b-wrap  {left:0;}
.booklet .b-p0 .b-wrap  {right:0;}
.booklet .b-page-blank  {padding:0; width:100%; height:100%;}
.booklet .b-page-cover  {padding:0; width:100%; height:100%;
background-image:url("../ima/FP_fondo.png");
background-position:center;
background-repeat:no-repeat;
}
.booklet .b-page-cover h3  {text-align:center;
text-shadow:0px 1px 3px #222;
font-size:12px;
color:#FFFFFF;
font-weight:normal;
font-family:Century Gothic, sans-serif;margin-top: 180px;
}
.booklet .b-page-cover h4  {text-align:center;
font-size:12px;
color:#FFFFFF;
font-weight:normal;
font-family:Century Gothic, sans-serif;
}
.booklet .b-counter {bottom:10px;position:absolute;display:block;margin-top: 180px;
width:560px; height:20px;
color:#000000;
font-family:Century Gothic, sans-serif;font-size:14px;
border-top-color:#000000;border-top-style:solid;border-top-width:thin;
}
.booklet .b-wrap-left  .b-counter  {left:10px; text-align:left;}
.booklet .b-wrap-right .b-counter {right:10px; text-align:right;}
.booklet .b-shadow-f  {right:0; top:0; position:absolute; opacity:0; background-image:url("../booklet/images/shadow-top-forward.png"); background-repeat:repeat-y; background-position:100% 0;}
.booklet .b-shadow-b  {left:0;  top:0; position:absolute; opacity:0; background-image:url("../booklet/images/shadow-top-back.png");    background-repeat:repeat-y; background-position:0 0;}
.booklet .b-p0 {background-image:url("images/shadow.png"); background-repeat:repeat-y; background-position:100% 10px;}
.booklet .b-p3 {background-image:url("images/shadow.png"); background-repeat:repeat-y; background-position:0 10px;}
.booklet .b-grab {cursor: url(images/openhand.cur), default;}
.booklet .b-grabbing {cursor: url(images/closedhand.cur), default;}
.booklet .b-overlay {top:0; position:absolute; height:80%; width:30%;}
.booklet .b-overlay-prev {left:0;}
.booklet .b-overlay-next {right:0;}
.booklet .b-tab {background:#000; height:40px; width:100%; padding:10px 0 0; text-align:center; color:#ccc; position:absolute; font-size:11px;}
.booklet .b-tab-prev   {left:0;}
.booklet .b-tab-next   {right:0;}
.booklet .b-tab:hover  {background:#aaa; color:#000;}
.booklet .b-arrow {display:block; position:absolute; text-indent:-9999px; top:0; height:100%; width:74px;}
.booklet .b-arrow div {display:none; text-indent:-9999px; height:170px; width:74px; position:absolute; left:0; top:25%;}
.booklet .b-arrow-next {right:-80px;}
.booklet .b-arrow-prev {left:-80px;}
.booklet .b-arrow-next div {background:url("../booklet/images/arrow-next.png") no-repeat left top;}
.booklet .b-arrow-prev div {background:url("../booklet/images/arrow-prev.png") no-repeat left top;}
body              {z-index:0;}
.b-menu           {z-index:100;}
.b-selector       {z-index:100;}
.booklet          {z-index:10;}
.b-pN             {z-index:10;}
.b-p0             {z-index:20;}
.b-p1             {z-index:20;}
.b-p2             {z-index:20;}
.b-p3             {z-index:20;}
.b-p4             {z-index:20;}
.b-prev           {z-index:20;}
.b-next           {z-index:40;}
.b-counter        {z-index:40;}
.b-menu {height:40px; padding:0 0 10px;}
.b-selector {height:40px; position:relative; float:right; border:none; color:#cecece; cursor:pointer;
font:normal 12px "Myriad Pro", Myriad, "DejaVu Sans Condensed","Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;}
.b-selector .b-current  {padding:8px 15px 12px; line-height:20px; min-width:18px; height:20px; display:block; background:#000; text-align:center;}
.b-selector-page {width:auto; margin-left:15px;}
.b-selector-chapter {width:auto;}
.b-selector:hover {color:#fff; background-position:left 0px;}
.b-selector:hover .b-current {background-position:right 0px;}
.b-selector ul {overflow:hidden; margin:0; list-style:none !important; position:absolute; top:40px; right:0; padding:0 0 10px; background:#000; width:240px;}
.b-selector li {border:none;}
.b-selector a {color:#cecece; height:14px; text-decoration:none; display:block; padding:5px 10px;}
.b-selector a .b-text {float:left; clear:none;}
.b-selector a .b-num {float:right; clear:none;}
.b-selector a:hover {color:#fff;}
#mybook{  padding:5px;margin-top: 180px;
background-image:url("../ima/FP_fondo.png");
background-position:center;
background-repeat:no-repeat;
-moz-border-radius: 5px;-webkit-border-radius: 5px;-khtml-border-radius: 5px;border-radius: 5px;
-webkit-box-shadow: 6px 6px 19px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    6px 6px 19px rgba(50, 50, 50, 0.75);
box-shadow: 6px 6px 19px rgba(50, 50, 50, 0.75);
}
#mybook p{text-align:justify;margin-top: 180px;}
.pLeft{ padding-right:20px;}
.pLeft p{line-height:16px;}
.headLeft{
text-align:left;
font-size:10px;
border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:thin;
font-family:Century Gothic, sans-serif;
color:#000000;
}
.headRight{
text-align:right;
font-size:10px;
border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:thin;
font-family:Century Gothic, sans-serif;
color:#000000;
}
.pRight{ padding-left:20px;}
.pRight p{line-height:16px;}
.pRight h3{ text-align:right;}
.b-wrap-left{margin-left:5px;}
.padL{padding-left:5px; padding-top:5px;}
.padR{padding-right:5px; padding-top:5px;}
.imaCenter{text-align:center;}
header{font-family:Century Gothic, sans-serif;}
header h1{color:#000000; font-size:16px; font-weight:bold;}
header p{color:#000000; font-size:12px;}
